.Twlls_Footer_Table td, .Twlls_Footer_Table th {
    padding: 12px;
    line-height: 1.5;
    vertical-align: top;
}
.Twlls_Footer_Table {
    width: 100%;
}


.Twlls_Footer_Table_Title {
    color:#F7FBCF;
    font-size: 20px;
    /*font-weight: bold;*/
}
.marquee {
    background-color: #418765;
    font-size: 1em;
    padding: 8px 0;
    overflow: hidden;
    width: 100%; /* 背景顏色的寬度是 100% */
    margin: 0 auto; /* 水平居中 */
}
.banner-info {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* 確保在最上層 */
    transition: height 0.3s; /* 平滑過渡 */
}

.banner-info.shrink {
    height: 80px !important; /* 設定縮小後的高度 */
}

.navbar-brand.shrink {
    font-size: 25px !important; /* 縮小後的字體大小 */
}

.navbar-brand2.shrink {
    font-size: 8px !important; /* 縮小後的字體大小 */
}
    .custom-button {
        display: inline-block; /* 使其行內顯示 */
        background-color: white; /* 白色背景 */
        border: 2px solid #6F4C3E; /* 咖啡色框線 */
        border-radius: 12px; /* 圓角 */
        color: #6F4C3E; /* 咖啡色文字 */
        font-size: 16px; /* 字體大小 */
        padding: 10px 20px; /* 內邊距 */
        text-decoration: none; /* 去除下劃線 */
        cursor: pointer; /* 鼠標變為手型 */
        transition: background-color 0.3s, color 0.3s; /* 動畫效果 */
    }

    .custom-button:hover {
        background-color: #6F4C3E; /* 懸停時背景變為咖啡色 */
        color: white; /* 懸停時文字變為白色 */
    }
    .dashed-border {
        border-top: 1px solid #52403C; /* 咖啡色 */
        border-bottom: 1px solid #52403C; /* 咖啡色 */
        padding: 3px;
        line-height: 2em;
    }
    
    .coffee-button {
        background-color: #6f4c3e; /* 咖啡色 */
        color: white;
        padding: 2px 5px;
        border: none;
        border-radius: 5px; /* 圓角 */
        cursor: pointer;
        text-decoration: none; /* 去掉下劃線 */
        font-size: 12px;
        transition: background-color 0.3s;
    }
    
		.rslides {
			background-color: rgba(192, 192, 192, 0.4);
			border-radius: 15px;
			padding: 10px;
		}
		#bgVideo {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
		.AllBODY {
			background-image: url('../images/bg.jpg'); 
			background-size: auto; 
			background-position: center;
			background-repeat: repeat; /* 讓背景圖片重複 */
		}

		.AboutMe {
            width: 70%;
            height: 500px;
            position: relative;
            margin: 5% auto;
            overflow: hidden;
        }
        .AboutMe_Slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: opacity 0.5s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .AboutMe_Slide_Content {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .AboutMe_Slide_Text {
            background-color: white;
			padding: 2% 5% 2% 5%;
            border-top-left-radius: 90px;
            width: 45%;
            height: 70%;
            position: absolute;
            top: 30%;
            right: 10%;
            z-index: 5;
        }
        .AboutMe_Slide_Back {
			background-color: transparent; /* 將背景顏色設為透明 */
			border: 2px solid #418765; /* 設置綠色外框 */
			padding: 2% 5% 2% 5%;
            border-top-left-radius: 90px;
            width: 45%;
            height: 70%;
            position: absolute;
            top: 20%;
            right: 15%;
            z-index: 1;
        }
        .AboutMe_Slide_Image {
            width: 40%;
            height: 75%;
            border-top-left-radius: 90px;
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 5%;
            left: 10%;
            z-index: 3;
        }
        .tabs {
			display: flex;
			justify-content: space-between;
		}
		.tab {
			flex: 1;
			text-align: center;
			padding: 10px;
			cursor: pointer;
			background-color: #f1f1f1;
			border-bottom: 5px solid #418765;
			margin: 0 1%; 
			position: relative; 
			transition: background-color 0.3s;
		}
		.tab:hover {
			background-color: #ddd;
		}

		.tab.active {
			background-color: #fff;
			border-top: 5px solid #418765; /* 活動頁籤的上方邊框 */
			border-bottom: 0px solid #418765;
		}

		.tab:hover::after {
			content: '';
			position: absolute;
			top: -4px; /* 上方邊框的位置 */
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid #ddd; /* 滑動時的箭頭顏色 */
		}

        .content {
            border-radius: 30px 30px 0 0;
            margin-top: 10px;
			background-color:transparent;
        }
        .slider-container {
            width: 70%;
            height: 400px;
            position: relative;
            margin: 0 auto;
            overflow: hidden;
        }
        .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .slide.active {
            opacity: 1;
        }
        .slide-content {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .slide-text {
            background-color: white;
            padding: 20px;
            border-top-left-radius: 30px;
            width: 25%;
            height: 60%;
            position: absolute;
            bottom: 10%;
            left: 20%;
            z-index: 1;
        }
        .slide-image {
            width: 45%;
            height: 90%;
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 5%;
            right: 20%;
        }
        .Conference-slide-image {
            width: 50%;
            height: 100%;
            position: absolute;
            left: 20%;
            background-repeat: no-repeat;
            background-size: contain;
        }
        
        .Conference-slide-text{
            padding: 20px;
            background-color: white;
            width: 40%;
            height: 70%;
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 25%;
            right: 15%;
            z-index: 1;
        }
        .prev-btn, .next-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 30px;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.5);
            border: none;
            cursor: pointer;
        }
        .prev-btn {
            left: 10px;
        }
        .next-btn {
            right: 10px;
        }
        .nav-buttons {
            position: absolute;
            right: 18%;
            bottom: 10%;
            background-color: rgba(128, 128, 128, 0.5);
            padding: 10px;
            display: flex;
            align-items: center;
            color:#fff;
        }
        .nav-buttons button {
            font-size: 20px;
            padding: 5px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color:#fff;
        }
        .AL-slider-container {
            width: 100%;
            position: relative;
            margin: 0 auto;
            margin-top:120px;
            overflow: hidden;
            background-repeat: no-repeat;
        }
        
        .AboutMe-slider-container {
            width: 70%;
            height: 400px;
            position: relative;
            margin: 0 auto;
            overflow: hidden;
        }
        .AboutMe-slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .AboutMe-slide.active {
            opacity: 1;
        }
        .AboutMe-slide-content {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .AboutMe-slide-text {
            background-color: #418765;
            padding: 50px 150px 10px 60px;
            border-top-left-radius: 40px;
            width: 40%;
            height: 90%;
            bottom:-10%;
            position: absolute;
            left: 5%;
            z-index: 1;
        }
        .AboutMe-slide-image {
            width: 40%;
            height: 80%;
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 10%;
            right: 20%;
            z-index: 99;
        }
        .AboutMe-prev-btn, .AboutMe-next-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 30px;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.5);
            border: none;
            cursor: pointer;
        }
        .AboutMe-prev-btn {
            left: 10px;
        }
        .AboutMe-next-btn {
            right: 10px;
        }
        .AboutMe-nav-buttons {
            position: absolute;
            right: 18%;
            bottom: 10%;
            background-color: rgba(128, 128, 128, 0.5);
            padding: 10px;
            display: flex;
            align-items: center;
            color:#fff;
        }
        .AboutMe-nav-buttons button {
            font-size: 20px;
            padding: 5px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            color:#fff;
        }
        .AboutBanner {
            margin-top:120px;
            background-image: url('../images/found-banner.png');
            background-size: cover; /* 自動縮放到指定高度 */
            background-position: center; /* 圖片居中 */
            height: 500px; /* 指定的高度 */
            position: relative;
            background-repeat: no-repeat; /* 不重複背景 */
            }
            
		.rslides {
			background-color: rgba(192, 192, 192, 0.4);
			border-radius: 15px;
			padding: 10px;
		}
		#bgVideo {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
        .tabs {
			display: flex;
			justify-content: space-between;
		}
		.tab {
			flex: 1;
			text-align: center;
			padding: 10px;
			cursor: pointer;
			background-color: #f1f1f1;
			border-bottom: 5px solid #418765;
			margin: 0 1%; 
			position: relative; 
			transition: background-color 0.3s;
		}
		.tab:hover {
			background-color: #ddd;
		}

		.tab.active {
			background-color: #fff;
			border-top: 5px solid #418765; /* 活動頁籤的上方邊框 */
			border-bottom: 0px solid #418765;
		}

		.tab:hover::after {
			content: '';
			position: absolute;
			top: -4px; /* 上方邊框的位置 */
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid #ddd; /* 滑動時的箭頭顏色 */
		}

        .content {
            border-radius: 30px 30px 0 0;
            margin-top: 10px;
			background-color:transparent;
        }
        
        .bordered-div {
            border: 1px solid #52403C; /* 設定框線顏色 */
            border-top-left-radius: 10px; /* 左上角圓角 */
            padding: 5px; /* 內邊距 */
            background-color: white; /* 背景顏色 */
			width: 100%;
        }
        .JournalListButton{
            background-color: white; 
            color: #55463D; 
            border-bottom: 2px solid #81BB9F; 
            border-radius: 10px 0 0 0; 
            padding: 10px;
            margin-top:10px;
        }
        .Journaltable {
            border-collapse: collapse;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .Journalth {
            color: black;
            border-top: 2px solid #70524A;
            border-bottom: 2px solid #70524A;
            padding: 10px;
            text-align: center;
        }
        .Journaltd {
            color: black;
            border-top: 1px dashed #70524A;
            border-bottom: 1px dashed #70524A;
            padding: 10px;
        }
        .Journaltr {
            border: none; /* 不顯示左右框線 */
        }
        .download-icon {
            width: 50px;
            height: 50px;
            cursor: pointer;
            transition: transform 0.3s;
            content: url('../images/icon-doc=Default.png'); /* 替換為懸停時的圖片 */
        }
        .download-icon:hover {
            content: url('../images/icon-doc=hover.png'); /* 替換為懸停時的圖片 */
        }