@use "utils" as *;
@use "global" as *;

.untitled-page {
  &.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(255 255 255);
    overflow: hidden;
  }

  .section1 {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(255 255 255);
    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 4.7%);
  }

  .decorator {
    position: absolute;
    bottom: -174px;
    left: -40px;
    width: 250px;
    height: 250px;
  }

  .flex_row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    margin: 15px auto 16px;
    width: 1300px;
  }

  .image15 {
    width: 293px;
    min-width: 0;
  }

  .flex_row1 {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    width: 885px;
    min-width: 0;
  }

  .highlight10 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2px;
    min-width: 0;
    font: 400 17px/1.35 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: center;
    letter-spacing: 1.44px;
  }

  .highlight11 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2px;
    min-width: 0;
    font: 400 17px/1.35 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(34 34 34);
    text-align: center;
    letter-spacing: 1.94px;
  }

  .highlight111 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2px;
    min-width: 0;
    font: 400 17px/1.35 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(34 34 34);
    text-align: center;
    letter-spacing: 2.14px;
  }

  .image16 {
    width: 25px;
    min-width: 0;
    height: 25px;
  }

  .decorator1 {
    position: absolute;
    right: -40px;
    bottom: -174px;
    width: 250px;
    height: 250px;
  }

  .section2 {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .decorator2 {
    position: absolute;
    top: 174px;
    left: -40px;
    width: 250px;
    height: 250px;
  }

  .grid {
    position: relative;
    display: grid;
    align-content: start;
    gap: 1px 1px;
    margin: 174px auto 106px;
    width: 78.13%;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .item {
    grid-row: span 1;
    grid-column: span 1;
    width: 100%;
  }

  .decorator3 {
    position: absolute;
    top: 174px;
    right: -40px;
    width: 250px;
    height: 250px;
  }

  .decorator4 {
    position: absolute;
    top: 424px;
    left: -40px;
    width: 250px;
    height: 250px;
  }

  .decorator5 {
    position: absolute;
    top: 424px;
    right: -40px;
    width: 250px;
    height: 250px;
  }

  .decorator6 {
    position: absolute;
    bottom: -145px;
    left: -40px;
    width: 250px;
    height: 250px;
  }

  .section3 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 985px;
    min-height: 985px;
  }

  .decorator7 {
    position: absolute;
    inset: 145px 1461px 591px 210px;
    width: 249px;
    height: 249px;
  }

  .decorator8 {
    position: absolute;
    inset: 145px 1211px 591px 460px;
    width: 249px;
    height: 249px;
  }

  .decorator9 {
    position: absolute;
    inset: 145px 965px 591px 710px;
    width: 245px;
    height: 249px;
  }

  .decorator10 {
    position: absolute;
    inset: 145px 711px 591px 960px;
    width: 249px;
    height: 249px;
  }

  .decorator11 {
    position: absolute;
    inset: 145px 461px 591px 1210px;
    width: 249px;
    height: 249px;
  }

  .decorator12 {
    position: absolute;
    inset: 145px 210px 591px 1460px;
    width: 250px;
    height: 249px;
  }

  .decorator13 {
    position: absolute;
    inset: 395px 1461px 341px 210px;
    width: 249px;
    height: 249px;
  }

  .decorator14 {
    position: absolute;
    inset: 395px 1211px 341px 460px;
    width: 249px;
    height: 249px;
  }

  .decorator15 {
    position: absolute;
    inset: 395px 965px 341px 710px;
    width: 245px;
    height: 249px;
  }

  .decorator16 {
    position: absolute;
    inset: 395px 711px 341px 960px;
    width: 249px;
    height: 249px;
  }

  .decorator17 {
    position: absolute;
    inset: 395px 461px 341px 1210px;
    width: 249px;
    height: 249px;
  }

  .decorator18 {
    position: absolute;
    inset: 395px 210px 341px 1460px;
    width: 250px;
    height: 249px;
  }

  .decorator19 {
    position: absolute;
    inset: 645px 1461px 91px 210px;
    width: 249px;
    height: 249px;
  }

  .decorator20 {
    position: absolute;
    inset: 645px 1211px 91px 460px;
    width: 249px;
    height: 249px;
  }

  .decorator21 {
    position: absolute;
    inset: 645px 965px 91px 710px;
    width: 245px;
    height: 249px;
  }

  .decorator22 {
    position: absolute;
    inset: 645px 711px 91px 960px;
    width: 249px;
    height: 249px;
  }

  .decorator23 {
    position: absolute;
    inset: 645px 461px 91px 1210px;
    width: 249px;
    height: 249px;
  }

  .decorator24 {
    position: absolute;
    inset: 645px 210px 91px 1460px;
    width: 250px;
    height: 249px;
  }

  .image1 {
    position: absolute;
    inset: 925px 200px 0 1660px;
    width: 60px;
    height: 60px;
  }

  .medium_title {
    position: absolute;
    inset: 95px 1150px 860px 430px;
    display: flex;
    align-items: center;
    width: 340px;
    height: 30px;
    font: 700 25px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(60 117 86);
    letter-spacing: 1.14px;
  }

  .rect1 {
    position: absolute;
    inset: 155px 370px 640px;
    width: 1180px;
    height: 190px;
    border-color: rgb(65 135 101);
    border-style: solid;
    border-width: 0 0 0 10px;
  }

  .group {
    position: absolute;
    inset: 155px 1175px 780px 395px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 50px;
  }

  .rect2 {
    position: relative;
    min-height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .flex_row2 {
    position: absolute;
    top: 10px;
    left: 15px;
    display: flex;
    gap: 0 17px;
    width: 320px;
    height: 30px;
  }

  .highlight4 {
    display: flex;
    align-items: center;
    margin: 3px 0;
    min-width: 0;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0;
    min-width: 68px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(112 82 74);
    border-radius: 5px;
    padding: 5px 10px;
  }

  .text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 0;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image4 {
    position: absolute;
    inset: 175px 1180px 800px 735px;
    width: 5px;
    height: 10px;
  }

  .rect21 {
    position: absolute;
    inset: 155px 805px 780px 765px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight41 {
    position: absolute;
    inset: 168px 996px 793px 780px;
    display: flex;
    align-items: center;
    width: 144px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .btn1 {
    position: absolute;
    inset: 169px 901px 794px 956px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(112 82 74);
    border-radius: 5px;
    padding: 5px 10px 5px 5px;
  }

  .text1 {
    position: absolute;
    inset: 165px 820px 790px 1027px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image41 {
    position: absolute;
    inset: 175px 810px 800px 1105px;
    width: 5px;
    height: 10px;
  }

  .rect22 {
    position: absolute;
    inset: 155px 435px 780px 1135px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight42 {
    position: absolute;
    inset: 168px 626px 793px 1150px;
    display: flex;
    align-items: center;
    width: 144px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .rect3 {
    position: absolute;
    inset: 169px 531px 794px 1321px;
    width: 68px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info {
    position: absolute;
    inset: 174px 541px 799px 1331px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text2 {
    position: absolute;
    inset: 165px 450px 790px 1397px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image42 {
    position: absolute;
    inset: 175px 440px 800px 1475px;
    width: 5px;
    height: 10px;
  }

  .rect23 {
    position: absolute;
    inset: 225px 1175px 710px 395px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight43 {
    position: absolute;
    inset: 238px 1366px 723px 410px;
    display: flex;
    align-items: center;
    width: 144px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .rect31 {
    position: absolute;
    inset: 239px 1271px 724px 581px;
    width: 68px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info1 {
    position: absolute;
    inset: 244px 1281px 729px 591px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text3 {
    position: absolute;
    inset: 235px 1190px 720px 657px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image43 {
    position: absolute;
    inset: 245px 1180px 730px 735px;
    width: 5px;
    height: 10px;
  }

  .rect24 {
    position: absolute;
    inset: 225px 805px 710px 765px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight44 {
    position: absolute;
    inset: 238px 1014px 723px 780px;
    display: flex;
    align-items: center;
    width: 126px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.9px;
  }

  .rect32 {
    position: absolute;
    inset: 239px 901px 724px 956px;
    width: 63px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info2 {
    position: absolute;
    inset: 244px 911px 729px 961px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text4 {
    position: absolute;
    inset: 235px 820px 720px 1027px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image44 {
    position: absolute;
    inset: 245px 810px 730px 1105px;
    width: 5px;
    height: 10px;
  }

  .rect25 {
    position: absolute;
    inset: 225px 435px 710px 1135px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight45 {
    position: absolute;
    inset: 238px 644px 723px 1150px;
    display: flex;
    align-items: center;
    width: 126px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.9px;
  }

  .rect33 {
    position: absolute;
    inset: 239px 531px 724px 1321px;
    width: 68px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info3 {
    position: absolute;
    inset: 244px 541px 729px 1331px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text5 {
    position: absolute;
    inset: 235px 450px 720px 1397px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image45 {
    position: absolute;
    inset: 245px 440px 730px 1475px;
    width: 5px;
    height: 10px;
  }

  .rect26 {
    position: absolute;
    inset: 295px 1175px 640px 395px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight46 {
    position: absolute;
    inset: 308px 1384px 653px 410px;
    display: flex;
    align-items: center;
    width: 126px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.9px;
  }

  .rect34 {
    position: absolute;
    inset: 309px 1271px 654px 581px;
    width: 68px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info4 {
    position: absolute;
    inset: 314px 1281px 659px 591px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text6 {
    position: absolute;
    inset: 305px 1190px 650px 657px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image46 {
    position: absolute;
    inset: 315px 1180px 660px 735px;
    width: 5px;
    height: 10px;
  }

  .rect27 {
    position: absolute;
    inset: 295px 805px 640px 765px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight47 {
    position: absolute;
    inset: 308px 1014px 653px 780px;
    display: flex;
    align-items: center;
    width: 126px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.9px;
  }

  .rect35 {
    position: absolute;
    inset: 309px 901px 654px 956px;
    width: 63px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info5 {
    position: absolute;
    inset: 314px 911px 659px 961px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text7 {
    position: absolute;
    inset: 305px 820px 650px 1027px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image47 {
    position: absolute;
    inset: 315px 810px 660px 1105px;
    width: 5px;
    height: 10px;
  }

  .flex_row3 {
    position: absolute;
    inset: 410px 1150px 545px 370px;
    display: flex;
    gap: 0 10px;
    width: 400px;
    height: 30px;
  }

  .image3 {
    margin: 4px 0;
    width: 50px;
    min-width: 0;
    height: 22px;
  }

  .medium_title1 {
    display: flex;
    align-items: center;
    min-width: 0;
    font: 700 25px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(85 141 51);
    letter-spacing: 1.14px;
  }

  .rect4 {
    position: absolute;
    inset: 470px 370px 395px;
    width: 1180px;
    height: 120px;
    border-color: rgb(106 164 71);
    border-style: solid;
    border-width: 0 0 0 10px;
  }

  .rect28 {
    position: absolute;
    inset: 470px 1175px 465px 395px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight48 {
    position: absolute;
    inset: 483px 1384px 478px 410px;
    display: flex;
    align-items: center;
    width: 126px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .rect36 {
    position: absolute;
    inset: 484px 1271px 479px 581px;
    width: 68px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info6 {
    position: absolute;
    inset: 489px 1281px 484px 591px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text8 {
    position: absolute;
    inset: 480px 1190px 475px 657px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image48 {
    position: absolute;
    inset: 490px 1180px 485px 735px;
    width: 5px;
    height: 10px;
  }

  .rect29 {
    position: absolute;
    inset: 470px 805px 465px 765px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight49 {
    position: absolute;
    inset: 483px 1014px 478px 780px;
    display: flex;
    align-items: center;
    width: 126px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .rect37 {
    position: absolute;
    inset: 484px 901px 479px 956px;
    width: 63px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info7 {
    position: absolute;
    inset: 489px 911px 484px 961px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text9 {
    position: absolute;
    inset: 480px 820px 475px 1027px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image49 {
    position: absolute;
    inset: 490px 810px 485px 1105px;
    width: 5px;
    height: 10px;
  }

  .rect210 {
    position: absolute;
    inset: 470px 435px 465px 1135px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight410 {
    position: absolute;
    inset: 483px 657px 478px 1150px;
    display: flex;
    align-items: center;
    width: 113px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .rect38 {
    position: absolute;
    inset: 484px 531px 479px 1321px;
    width: 68px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info8 {
    position: absolute;
    inset: 489px 541px 484px 1331px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text10 {
    position: absolute;
    inset: 480px 450px 475px 1397px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image410 {
    position: absolute;
    inset: 490px 440px 485px 1475px;
    width: 5px;
    height: 10px;
  }

  .rect211 {
    position: absolute;
    inset: 540px 1175px 395px 395px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight411 {
    position: absolute;
    inset: 553px 1384px 408px 410px;
    display: flex;
    align-items: center;
    width: 126px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.9px;
  }

  .rect39 {
    position: absolute;
    inset: 554px 1271px 409px 581px;
    width: 68px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info9 {
    position: absolute;
    inset: 559px 1281px 414px 591px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text11 {
    position: absolute;
    inset: 550px 1190px 405px 657px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image411 {
    position: absolute;
    inset: 560px 1180px 415px 735px;
    width: 5px;
    height: 10px;
  }

  .rect212 {
    position: absolute;
    inset: 540px 805px 395px 765px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight412 {
    position: absolute;
    inset: 553px 1027px 408px 780px;
    display: flex;
    align-items: center;
    width: 113px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .rect310 {
    position: absolute;
    inset: 554px 901px 409px 956px;
    width: 63px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info10 {
    position: absolute;
    inset: 559px 911px 414px 961px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text12 {
    position: absolute;
    inset: 550px 820px 405px 1027px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image412 {
    position: absolute;
    inset: 560px 810px 415px 1105px;
    width: 5px;
    height: 10px;
  }

  .rect213 {
    position: absolute;
    inset: 540px 435px 395px 1135px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight413 {
    position: absolute;
    inset: 553px 657px 408px 1150px;
    display: flex;
    align-items: center;
    width: 113px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .rect311 {
    position: absolute;
    inset: 554px 531px 409px 1321px;
    width: 68px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info11 {
    position: absolute;
    inset: 559px 541px 414px 1331px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text13 {
    position: absolute;
    inset: 550px 450px 405px 1397px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image413 {
    position: absolute;
    inset: 560px 440px 415px 1475px;
    width: 5px;
    height: 10px;
  }

  .flex_row4 {
    position: absolute;
    inset: 655px 1138px 300px 370px;
    display: flex;
    gap: 0 10px;
    width: 412px;
    height: 30px;
  }

  .medium_title2 {
    display: flex;
    align-items: center;
    min-width: 0;
    font: 700 25px/1.2 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(85 70 61);
    letter-spacing: 1.14px;
  }

  .rect5 {
    position: absolute;
    inset: 715px 370px 80px;
    width: 1180px;
    height: 190px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 0 0 0 10px;
  }

  .rect214 {
    position: absolute;
    inset: 715px 1175px 220px 395px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight414 {
    position: absolute;
    inset: 728px 1384px 233px 410px;
    display: flex;
    align-items: center;
    width: 126px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .rect312 {
    position: absolute;
    inset: 729px 1271px 234px 581px;
    width: 68px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info12 {
    position: absolute;
    inset: 734px 1281px 239px 591px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text14 {
    position: absolute;
    inset: 725px 1190px 230px 657px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image414 {
    position: absolute;
    inset: 735px 1180px 240px 735px;
    width: 5px;
    height: 10px;
  }

  .rect215 {
    position: absolute;
    inset: 715px 805px 220px 765px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight415 {
    position: absolute;
    inset: 728px 1014px 233px 780px;
    display: flex;
    align-items: center;
    width: 126px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .rect313 {
    position: absolute;
    inset: 729px 901px 234px 956px;
    width: 63px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info13 {
    position: absolute;
    inset: 734px 911px 239px 961px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text15 {
    position: absolute;
    inset: 725px 820px 230px 1027px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image415 {
    position: absolute;
    inset: 735px 810px 240px 1105px;
    width: 5px;
    height: 10px;
  }

  .rect216 {
    position: absolute;
    inset: 715px 435px 220px 1135px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight416 {
    position: absolute;
    inset: 728px 644px 233px 1150px;
    display: flex;
    align-items: center;
    width: 126px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .rect314 {
    position: absolute;
    inset: 729px 531px 234px 1321px;
    width: 68px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info14 {
    position: absolute;
    inset: 734px 541px 239px 1331px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text16 {
    position: absolute;
    inset: 725px 450px 230px 1397px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image416 {
    position: absolute;
    inset: 735px 440px 240px 1475px;
    width: 5px;
    height: 10px;
  }

  .rect217 {
    position: absolute;
    inset: 785px 1175px 150px 395px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight417 {
    position: absolute;
    inset: 798px 1384px 163px 410px;
    display: flex;
    align-items: center;
    width: 126px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .rect315 {
    position: absolute;
    inset: 799px 1271px 164px 581px;
    width: 68px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info15 {
    position: absolute;
    inset: 804px 1281px 169px 591px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text17 {
    position: absolute;
    inset: 795px 1190px 160px 657px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image417 {
    position: absolute;
    inset: 805px 1180px 170px 735px;
    width: 5px;
    height: 10px;
  }

  .rect218 {
    position: absolute;
    inset: 785px 805px 150px 765px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight418 {
    position: absolute;
    inset: 798px 1014px 163px 780px;
    display: flex;
    align-items: center;
    width: 126px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .rect316 {
    position: absolute;
    inset: 799px 901px 164px 956px;
    width: 63px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info16 {
    position: absolute;
    inset: 804px 911px 169px 961px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text18 {
    position: absolute;
    inset: 795px 820px 160px 1027px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image418 {
    position: absolute;
    inset: 805px 810px 170px 1105px;
    width: 5px;
    height: 10px;
  }

  .rect219 {
    position: absolute;
    inset: 785px 435px 150px 1135px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight419 {
    position: absolute;
    inset: 798px 644px 163px 1150px;
    display: flex;
    align-items: center;
    width: 126px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .rect317 {
    position: absolute;
    inset: 799px 531px 164px 1321px;
    width: 68px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info17 {
    position: absolute;
    inset: 804px 541px 169px 1331px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text19 {
    position: absolute;
    inset: 795px 450px 160px 1397px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image419 {
    position: absolute;
    inset: 805px 440px 170px 1475px;
    width: 5px;
    height: 10px;
  }

  .rect220 {
    position: absolute;
    inset: 855px 1175px 80px 395px;
    width: 350px;
    height: 50px;
    border-color: rgb(112 82 74);
    border-style: solid;
    border-width: 1px 0;
  }

  .highlight420 {
    position: absolute;
    inset: 868px 1384px 93px 410px;
    display: flex;
    align-items: center;
    width: 126px;
    height: 24px;
    font: 700 18px/1.33 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    letter-spacing: 0.8px;
  }

  .rect318 {
    position: absolute;
    inset: 869px 1271px 94px 581px;
    width: 68px;
    height: 22px;
    background-color: rgb(112 82 74);
    border-radius: 5px;
  }

  .info18 {
    position: absolute;
    inset: 874px 1281px 99px 591px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 12px;
    font: 700 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
  }

  .text20 {
    position: absolute;
    inset: 865px 1190px 90px 657px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 73px;
    height: 30px;
    font: 400 14px/2.14 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(112 82 74);
    text-align: right;
    letter-spacing: 0.6px;
  }

  .image420 {
    position: absolute;
    inset: 875px 1180px 100px 735px;
    width: 5px;
    height: 10px;
  }

  .section4 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 408px;
    min-height: 408px;
  }

  .decorator25 {
    position: absolute;
    inset: 160px 1461px 0 210px;
    width: 249px;
    height: 248px;
  }

  .decorator26 {
    position: absolute;
    inset: 160px 1211px 0 460px;
    width: 249px;
    height: 248px;
  }

  .decorator27 {
    position: absolute;
    inset: 162px 961px 0 710px;
    width: 249px;
    height: 246px;
  }

  .decorator28 {
    position: absolute;
    inset: 160px 711px 0 965px;
    width: 244px;
    height: 248px;
  }

  .decorator29 {
    position: absolute;
    inset: 160px 461px 0 1210px;
    width: 249px;
    height: 248px;
  }

  .decorator30 {
    position: absolute;
    inset: 160px 210px 0 1460px;
    width: 250px;
    height: 248px;
  }

  .cover {
    position: absolute;
    inset: 1px 0 0;
    width: 1920px;
    height: 407px;
  }

  .image {
    position: absolute;
    inset: 81px 1410px 127px 310px;
    width: 200px;
    height: 200px;
  }

  .rect {
    position: absolute;
    inset: 45px 419px 92px 560px;
    width: 941px;
    height: 271px;
    border-color: rgb(255 255 255);
    border-style: solid;
    border-width: 0 0 0 1px;
  }

  .highlight {
    position: absolute;
    inset: 50px 1283px 328px 600px;
    display: flex;
    align-items: center;
    width: 37px;
    height: 30px;
    font: 700 18px/1.66 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(253 255 163);
    letter-spacing: 0.5px;
  }

  .highlight1 {
    position: absolute;
    inset: 54px 1200px 327px 652px;
    display: flex;
    align-items: center;
    width: 68px;
    height: 27px;
    font: 400 17px/1.58 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255 255 255);
  }

  .highlight12 {
    position: absolute;
    inset: 54px 1096px 327px 756px;
    display: flex;
    align-items: center;
    width: 68px;
    height: 27px;
    font: 400 17px/1.58 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255 255 255);
  }

  .highlight13 {
    position: absolute;
    inset: 54px 962px 247px 860px;
    display: flex;
    align-items: center;
    width: 98px;
    height: 107px;
    font: 400 17px/1.58 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255 255 255);
  }

  .highlight14 {
    position: absolute;
    inset: 54px 824px 327px 994px;
    display: flex;
    align-items: center;
    width: 102px;
    height: 27px;
    font: 400 17px/1.58 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255 255 255);
  }

  .highlight15 {
    position: absolute;
    inset: 54px 720px 327px 1132px;
    display: flex;
    align-items: center;
    width: 68px;
    height: 27px;
    font: 400 17px/1.58 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255 255 255);
  }

  .highlight16 {
    position: absolute;
    inset: 54px 552px 300px 1236px;
    display: flex;
    align-items: center;
    width: 132px;
    height: 54px;
    font: 400 17px/1.58 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255 255 255);
  }

  .highlight17 {
    position: absolute;
    inset: 54px 465px 327px 1404px;
    display: flex;
    align-items: center;
    width: 51px;
    height: 27px;
    font: 400 17px/1.58 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255 255 255);
  }

  .highlight2 {
    position: absolute;
    inset: 192px 1245px 186px 600px;
    display: flex;
    align-items: center;
    width: 75px;
    height: 30px;
    font: 700 18px/1.66 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(253 255 163);
    letter-spacing: 0.7px;
  }

  .highlight18 {
    position: absolute;
    inset: 196px 739px 158px 690px;
    display: flex;
    align-items: center;
    width: 491px;
    height: 54px;
    font: 400 17px/1.58 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255 255 255);
  }

  .highlight3 {
    position: absolute;
    inset: 280px 1245px 98px 600px;
    display: flex;
    align-items: center;
    width: 75px;
    height: 30px;
    font: 700 18px/1.66 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(253 255 163);
    letter-spacing: 0.7px;
  }

  .highlight19 {
    position: absolute;
    inset: 284px 1111px 97px 690px;
    display: flex;
    align-items: center;
    width: 119px;
    height: 27px;
    font: 400 17px/1.58 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255 255 255);
  }

  .highlight110 {
    position: absolute;
    inset: 284px 956px 97px 849px;
    display: flex;
    align-items: center;
    width: 115px;
    height: 27px;
    font: 400 17px/1.58 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255 255 255);
  }

  .highlight21 {
    position: absolute;
    inset: 361px 672px 20px 669px;
    display: flex;
    align-items: center;
    width: 579px;
    height: 27px;
    font: 400 16px/1.68 "Noto Sans", Helvetica, Arial, serif;
    color: rgb(255 255 255 / 74.9%);
  }
}
